* ,
html {
    padding: 0;
    margin: 0;
}
body {
    background-color: antiquewhite;
}
.container {
    background-color: antiquewhite;
}
.container-navbar {
    border-bottom: rgb(250, 232, 208) 1px;
    position: fixed;
    background-color: rgb(253, 229, 198);
    display: flex;
    height: 70px;
    width: 100%;
    z-index: 1000;
}
.container-logo {
    display: flex;
    position: fixed;
    margin: 0 0 0 10px;
}
.img-logo {
    height: 70px;
}
.container-li-home {
    list-style: none;
    position: fixed;
    margin: 25px 0 0 1% ;
    align-items: center;
    justify-content: center;
}
.a-home {
    text-decoration: none;
    color: black;
}
.container-p-nav {
    position: fixed;
    margin: 25px 0 0 37%;
    align-items: center;
    justify-content: center;
}
.container-logo-menu {
    position: fixed;
    margin: 10px 0 0 93%;
}
.logo-menu:hover {
    background-color: rgb(255, 247, 236);
}
.logo-menu {
    position: fixed;
    border-radius: 10px;
    height: 50px;
    cursor: pointer;
}
#menu {
    display: none;
    position: fixed;
    background-color: rgb(253, 229, 198);
    height: 100%;
    left: 82%;
    width: 250px;
    z-index: 1000;
}
.menu {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.container-close {
    margin: 10px 0 0 5px;
}
.close:hover {
    background-color: rgb(250, 238, 222);
}
.close {
    height: 45px;
    cursor: pointer;
    border-radius: 100px;
}
.a-logo-menu {
    margin: 0 0 0 50px;
}
.a-menu {
    height: 150px;
}
.nav-li {
    background-color: white;
    margin-top: 5px;
    list-style-type: none;
    text-align: center;
}
.nav-li:hover {
    background-color: beige;
    cursor: pointer;
}
.c-nav-li {
    margin: 1px;
}
.admin {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-decoration: none;
}
.DB {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-decoration: none;
}

/* ISI */

.h1 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 100px;
    text-align: center;
}

/* FOOTER */

.footer {
    background-color: black;
}
.container-footer {
    margin: 30px 0 0 0;
    background-color: white;
    height: 500px;
}
.copyright {
    margin-top: 400px;
    color: black;
}