* ,
html {
    padding: 0;
    margin: 0;
}
.container {
    background-color: white;
}
.container-navbar {
    position: fixed;
    background-color: antiquewhite;
    display: flex;
    height: 70px;
    width: 100%;
}
.container-logo {
    margin: 0 10px 0 10px;
}
.img-logo {
    height: 70px;
}
.container-home {
    margin: 0 10px 0 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-p-nav {
    margin: 0 45px 0 360px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu {
    display: none;
}
.container-p-content {
    padding-top: 100px;
    text-align: center;
}
.container-poto-geser {
    margin: 20px 0 0 0;
} 
.poto-geser {
    height: 382px;
}
.container-navbar-2 {
    background-color: black;
}
.container-ul {
    background-color: antiquewhite;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-li {
    background-color: aliceblue;
    border: 1px solid black;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
}
.a-navbar {
    color: black;
    text-decoration: none;
}